@media screen and (max-width: 1000px) { 
    .sort-menu { display: none; }  
    .filter-menu { display: none; }
    .table-center {
        width: 90% !important;
        margin-top: 0 !important;
    }
}

.filter-border {
    margin-left: 35px;
    width: 150px;
    text-align: center;
    border-style: solid;
    border-radius: 8px 8px 8px 8px;
    border-color: #17408B;
    border-width: 1px;
}

.form-group {
    margin-top: 16px;
}

.filter-items {
    margin-top: 20px;
}

.logo {
    margin-right: 5px;
}

.table-center {
    width: 65%;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: -165px; 
}


.btn {
    border-color: #17408B !important;
    color: #17408B !important;
    background-color: white !important;
}

.btn:hover {
    background-color: #17408B !important;
    color: white !important;
}

.table-center th {
    background-color: #17408B;
    color: white;
}

.table-center th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table-center thead {
    display: table-header-group;
}

.table-center tr:nth-child(odd) {
    background-color: #f2f2f2;
}