@media screen and (max-width: 1050px) { 
    .filter-border { display: none; }
    .table-center1 {
        width: 90% !important;
        margin-top: 0 !important;
    }
    .table-center2 {
        width: 90% !important;
        margin-top: 0 !important;
    }
    .table-center3 {
        width: 90% !important;
        margin-top: 0 !important;
    }
    .table-center4 {
        width: 90% !important;
        margin-left:auto !important;
        margin-top: 0 !important;
    }
}

.btn {
    border-color: #17408B !important;
    color: #17408B !important;
    background-color: white !important;
}

.btn:hover {
    background-color: #17408B !important;
    color: white !important;
}

.card-deck {
    margin-bottom: 30px;
    width: 83% !important;
    margin-left:auto;
    margin-right:auto;
}

.exportLink {
    color: #17408B;
    font-size: 14px;
}

.exportLink:hover {
    color: #C9082A;
}

.filter-border {
    margin-left: 35px;
    width: 150px;
    text-align: center;
    border-style: solid;
    border-radius: 8px 8px 8px 8px;
    border-color: #17408B;
    border-width: 1.5px;
}

.form-group {
    margin-top: 16px;
}

.filter-items {
    margin-top: 20px;
}

.home-titles {
    margin-top: 50px;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.home-title {
    font-weight: 300;
    font-size: 50px;
}

.home-subtitle {
    font-weight: 300;
    margin-top: 30px;
    font-size: 24px;
    color:gray;
}

.logo {
    margin-right: 5px;
}

.table-center1 {
    width: 65%;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: -345px;
}

.table-center2 {
    width: 65%;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: -425px;
}

.table-center3 {
    width: 65%;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: -505px;
}

.table-center4 {
    align-content: center;
    margin-left:225px;
    margin-right:auto;
    margin-top: -585px;
    width: 75%;
}

.table-center1 th {
    background-color: #17408B;
    color: white;
}

.table-center1 th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table-center1 thead {
    display: table-header-group;
}

.table-center1 tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-center2 th {
    background-color: #17408B;
    color: white;
}

.table-center2 th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table-center2 thead {
    display: table-header-group;
}

.table-center2 tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-center3 th {
    background-color: #17408B;
    color: white;
}

.table-center3 th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table-center3 thead {
    display: table-header-group;
}

.table-center3 tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-center4 th {
    background-color: #17408B;
    color: white;
}

.table-center4 th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table-center4 thead {
    display: table-header-group;
}

.table-center4 tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.form-inline {
    margin-right: 15px;
}

